form {
}

fieldset {
	border: 1px solid #ccc;
	margin: var(--space-md) 0;
}

legend {
	padding: 0 8px;
}

input,
select,
textarea {
	width: 100%;

	//
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='email'],
input[type='search'],
input[type='number'],
input[type='url'],
input[type='tel'],
input[type='color'],
input[type='file'],
select,
textarea {
	padding: 10px;

	line-height: inherit;

	//border: 2px solid #d3d3d4;
	border: 2px solid var(--color-contrast-low);
	border-radius: 0.25rem;
	background-color: var(--color-bg);
	color: var(--color-contrast-higher);
	transition: all 0.3s;

	&:focus {
		outline: none;
		border-color: var(--color-primary);
		box-shadow: var(--shadow-highlight);
	}
}

input[type='checkbox'],
input[type='radio'],
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='color'] {
	width: auto;
}

input[type='color'] {
	padding: 0;
	min-width: 30px;
}

label {
	cursor: pointer;
	display: block;
	padding: 5px 0;
}

.form {
	$parent: &;

	&--inline {
		#{$parent}__fields {
			display: flex;
			align-items: flex-start;

			> .form-field {
				label {
					display: none;
				}
				flex-grow: 1;

				&--buttons {
					flex-grow: 0;
				}

				.field__error {
					display: none;
				}

				.btn {
					padding: 16px;
				}

				+ .form-field {
					margin-left: 8px;
				}
			}
		}
	}

	&-field {
		margin: 10px 0;
	}

	&-help {
		font-size: 13px;
		font-style: italic;
		margin-bottom: var(--space-sm);
	}

	&-control {
	}

	&-group {
		position: relative;

		input {
			padding-right: 40px;
		}

		button {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translate(0, -50%);
			margin: 0;
			padding: 0;
			border: 0;
			background: transparent;

			svg {
				width: 25px;
				height: 25px;
			}
		}
	}
}

.field {
	&__error {
		margin-top: 5px;
		color: var(--color-error);

		> *:last-child {
			margin-bottom: 0;
		}
	}
}
